.page-selector-shelf-editor{
    display: flex;
    align-items: center;
    border: 3px black solid;
    overflow: scroll;
    padding: 1vh;
    margin-top: 8vh;
    max-height: 10vh;
    width: 80vw;
    max-width: 320px;
}

.page-selector-editor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    min-width: 3rem;
    margin: 0px 7px;
    border: 3px rgb(131, 131, 131) solid;
    color: rgb(109, 109, 109);
}

.blank-page-editor{
    min-width: 4rem;
}

.page-editor{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px;
    width: 84vw;
    max-width: 335px;
    min-height: 25rem;
    max-height: 25rem;
    overflow: hidden;
    border: 3px black solid;
}

#selected-editor{
    border-color: black;
    color: black;
}