// .title-box {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .outer-div-book-view{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .page-selector-shelf{
//     display: flex;
//     border: 3px black solid;
//     overflow: scroll;
//     padding: 1vh;
//     margin-top: 8vh;
//     max-height: 10vh;
//     width: 80vw;
//     max-width: 320px;
// }

// .image-box{
//     display: flex;
//     justify-content: center;
// }

// .page-selector{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 4em;
//     min-width: 3rem;
//     margin: 0px 7px;
//     border: 3px rgb(131, 131, 131) solid;
//     color: rgb(109, 109, 109);
// }

// .page{
//     display: flex;
//     justify-content: space-between;
//     flex-direction: column;
//     padding: 1vh;
//     margin: 5px;
//     width: 80vw;
//     max-width: 320px;
//     min-height: 25rem;
    
//     border: 3px black solid;
// }

// #page-content{
//     margin: 10px 15px;
// }

// #page-number-on-page{
//     display: flex;
//     justify-content: center;
//     margin: 10px
// }

// #selected{
//     border-color: black;
//     color: black;
// }

// .page-image {
//     height: 50px;
//     width: 50px;
// }

// .page-wrapper {
//     height: 100%;
//     width: 100%;
// }

// .flipbook {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     font-family: sans-serif;
// }

// .book {
//     border: 1px solid #eee;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     width:8000px;
// }

// .filter-label {
//     padding-left: 20px;
// }

// .filter-options {
//     margin: 5px;
// }

// #filter-wrap {
//     background-color: #FDF9F3;
// }
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-page-outer-div {
    background-color: rgb(236, 236, 236);
}

.view-page-image {
    height: 80%;
    width: 100%
}