.outer-div-book-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-selector-shelf{
    display: flex;
    border: 3px black solid;
    overflow: scroll;
    padding: 1vh;
    margin-top: 8vh;
    max-height: 10vh;
    width: 80vw;
}

.page-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    min-width: 3rem;
    margin: 0px 7px;
    border: 3px black solid;
}

.page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1vh;
    margin: 5px;
    width: 80vw;
    min-height: 25rem;
    border: 3px black solid;
}

#page-content{
    margin: 10px 15px;
}

#page-number-on-page{
    display: flex;
    justify-content: center;
    margin: 10px
}

#selected{
    background-color: rgb(239, 229, 229);
}