// common variables and functions

@yellow: #E3A859;
@blue: #4F41BC;
@red: #9F3628;
@background: #FDF9F3;

@orange: #d48f3f;

@flexCenter: {
    display: flex;
    justify-content: center;
    align-items: center;
}
