@import "./common.less";

@headerHeight: 2.3em;
@toggleBtnWidth: @headerHeight - 0.6em;
@toggleBtnHeight: @headerHeight - 0.45em;

#header-container {
    background-color: purple;
    min-height: @headerHeight;
    padding: 0 0.7em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 600px) {
        // specify what to do when screen larger than 600px
    }
}

#sidebar-toggle {
    height: @toggleBtnHeight;
    padding: (@headerHeight - @toggleBtnHeight) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span {
        width: @toggleBtnWidth;
        height: 0.33em;
        background: @yellow;
        border-radius: 0.6em;
    }
}

#sidebar {
    position: absolute;
}
