@import "./common.less";
    .outer-div-student {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10vw;
        background-color: @background;

        a{
            text-decoration: none;
        }
        .shelf-and-text{
            margin-top: 20px;
            p {
                font-family:sans-serif;
                color: black;
                font-weight:600;
                padding-bottom: 5px;
            }
        }
        
        .shelf-div-student{
            display: flex;
            align-items: center;
            border: 3px black solid;
            border-radius: 5px;
            overflow: scroll;
            padding: 1vh;
            min-height:fit-content;
            max-height: 17em;
            max-width: 75vw;
            background-color: white;
            

            p {
                color:@orange;
                
            }
            
            
            .book-in-shelf{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 16em;
                min-width: 8em;
                max-width: 8em;
                margin-left: 10px;
                margin: 0px 7px;
                

                .book-link{
                    display: flex;
                    justify-content: center;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 3.3em;
                    max-height: 3.3em;
                    text-align: center;

                    a{
                        text-decoration: none;
                        color: black;
                    }
                }

                .book-img{
                    top:0;
                    min-width:100%;
                    max-width: 100%;
                    min-height: 12.5em;
                    max-height: 12.5em;
                    border: black 3px solid;
                    border-radius: 5%;
                }
                
            }
            .book-in-shelf-theme{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 15em;
                max-height: 15em;
                min-width: 10em;
                max-width: 10em;
                margin-left: 10px;
                margin: 0px 7px;
                background-color: @background;
                border: 3px rgb(0, 0, 0) solid;
                border-radius: 5%;

                p{
                    font-size: large;
                }
            }
        }
    }

