.outer-div-student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shelf-div-student{
    display: flex;
    align-items: center;
    border: 3px black solid;
    overflow: scroll;
    padding: 1vh;
    max-height: 28vh;
    max-width: 75vw;
}

.book-in-shelf-student{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    min-width: 10rem;
    max-width: 10rem;
    margin-left: 10px;
    margin: 0px 7px;
    border: 3px rgb(131, 131, 131) solid;
    color: rgb(109, 109, 109);
}