@import "./template1.less";
@import "./template2.less";
@import "./template3.less";
@import "./template4.less";

.page-outer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    // background-color: red;
}

textarea{
    //font stuff
    border: none;
    resize: none;
    overflow: hidden !important;
}

.textBorder{
    border: dotted rgb(198, 182, 182) 2px;
}