.temp3-outer-div{
    flex-direction: column;
    padding-top: 10px;
}

.text-img-div{
    display: flex;
    width: 100%
}

.small-image-page{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    height: 175px;
    margin-left: 5px;
    border: dashed lightcoral 2px;
}


.small-text-page{
    margin-left:10px;
    
}

.large-horizontal-text{
    margin-top:10px;
}